/* <------- Reset Rules -------> */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;

}
/* <-------- Debug rules ------> */

.debug{
    border: 1px dashed black;
}

.debug header{
    background-color: blue;
}

.debug main{
    background-color: blueviolet;
}
.debug .logo-imput{
    background-color: aqua;
}

.debug .main-left{
    background-color: chartreuse;
}

.debug .card{
    background-color: grey;
}



/*  <--------- Utilities --------->  */

.container{

}

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}



/* header---------------> */

header{
    height: 122px;
    background-color: #222222;
   
}

a{
    text-decoration: none;
    color: white;
}

.top-header{
    align-items: center;
    justify-content: space-between;
}
.logo{
    padding-left: 1rem;
}

.logo-input{
    align-items: center;

}

.search{
    border-radius: 0;
    padding-left: 2rem;
    padding-right: 4rem;
}

.functions{
    margin-right: 1rem;
    gap: 1rem;
}


input, .tag{
    background-color: #2b2b2b;
    margin-left: 1.2rem;
    margin-top: 1rem;
    padding-right: 14rem;
    border-style: solid;
    border-radius: 2rem;
    padding: 8px;
}



/* <---------- main section -----------> */
main{
    height: calc(100% - 122px);
    background-color: #222222;
    
}

h4, p, span{
    color: white;
}


.main-left{
    width: 70%;
    padding: 1rem;
    flex-wrap: wrap;
    overflow-y: auto;
   
}

.main-right{
    width: 30%;
}

.card-column{

    margin-top: 1rem;
    gap: 2rem;
    width: calc(100% / 4);
   

}

.card-column img{
    width: 190px;
    border-style: solid;
    border-color: lightgrey;
}

.main-right img{
    width: 400px;
    margin-top: 1rem;
}

/* Left side immages of albums -----------> */

.big-img{
    
}

i{
    width: 3rem;
    color: white;
}

.count{
    margin-top: 1rem;
}

.btn-white{
    background-color: white;
    border: none;
    font-size: larger;
    height: 3rem;
    width: 24rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.btn-black{
    background-color: black;
    color: white;
    font-size: larger;
    height: 3rem;
    width: 24rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}


/* Section responsivenes ------------------------> */

@media  screen and (max-width:744px) {
    
}
