/* <------- Reset Rules -------> */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    width: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}
/* <-------- Debug rules ------> */

.debug{
    border: 1px dashed black;
}

.debug header{
    height: 3rem;
    background-color: blue;
}

.debug main{
    background-color: blueviolet;
    height: 1000px;
}
.debug .logo-imput{
    background-color: aqua;
    height: 15px;
}




/*  <--------- Utilities --------->  */

.container{

}

.d-flex{
    display: flex;
}
